.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  margin-top: 50px;
  text-transform: uppercase;
  /* Garante que ocupa todo o espaço disponível */
}

.form-wrapper {
  width: 100%;
  max-width: 800px;
  /* Limita a largura máxima do formulário */
}

.form-title {
  font-size: 36px;
  margin-bottom: 35px;
  text-align: left;
  color: #fafafa;
  /* Centraliza o título */
}

.form-title b {
  font-weight: 900;
}

.form-subtitle {
  font-size: 16px;
  color: #FAFAFA;
  margin-bottom: 35px;
  text-align: left;
  text-transform: none;
  /* Centraliza o subtítulo */
}

.form-group {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Faz o input ocupar toda a largura disponível */
}

.form-group input::placeholder {
  color: #4E4E4E;
}

.form-group input:focus {
  background-color: #282828;
  color: #BDBDBD;
  border-color: #4E4E4E;
  box-shadow: 0 0 0 .25rem #4E4E4E;
}

.form-group input {
  height: 70px;
  padding: 20px 34px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  /* Ajusta o input ao tamanho disponível */
  background-color: #282828;
  color: #4E4E4E;
}

.form-group label {
  padding-bottom: 15px;
  color: #fafafa;
  text-transform: none;
}

.form-button-group {
  display: flex;
  flex-direction: column;
  /* Alinha os botões em coluna */
  gap: 10px;
  /* Espaçamento entre os botões */
  width: 100%;
  /* Botões ocupam toda a largura */
}

.qr-code-container {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  width: 100%;
  margin: 20px 0;
  /* Espaçamento superior e inferior */
}

/* Estilo da imagem do QR Code */
.qr-code-image {
  max-width: 300px;
  /* Limita a largura no desktop */
  width: 100%;
  /* Responsivo */
  height: auto;
  /* Mantém a proporção */
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
}

.pix-key p {
  font-size: 16px;
  color: #fafafa;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* Quebra texto longo */
  text-align: center;
  margin: 20px 0;
}

/* Ajuste do texto da chave Pix no desktop */
.pix-key strong {
  display: block;
  margin-bottom: 10px;
}

/* Botão de copiar chave Pix */
.form-button.copy {
  background: #E2E2E2;
  color: #262626;
}

.form-button.copy:hover {
  background: #fafafa;
}

/* Botão de upload de comprovante */
.form-button.upload {
  background: #2196f3;
  /* Azul */
  color: #ffffff;
  margin-bottom: 35px;
}

.form-button.upload:hover {
  background: #1e88e5;
}


.form-button {
  width: 100%;
  /* Ocupa toda a largura */
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button.next {
  background: var(--check, #670505);
  /* Cor do botão "Próximo" */
  color: #ffffff;
  /* Texto branco */
}

.form-button.next:hover {
  background: #A10000;
  /* Cor ao passar o mouse */
}

.form-button.previous {
  background: #525252;
  /* Cor do botão "Voltar" */
  color: #333333;
  /* Texto preto */
}

.form-button.previous:hover {
  background: #131313;
  /* Cor ao passar o mouse */
}

.uploaded-file-preview {
  margin-top: 20px;
  text-align: center;
}

.uploaded-file-preview p {
  font-size: 16px;
  color: #333;
}

.file-preview-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.file-preview-text {
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}



/* Ajustes para telas menores */
@media (max-width: 768px) {
  .form-title {
    font-size: 28px;
  }

  .form-subtitle {
    font-size: 14px;
  }

  .form-button-group {
    display: flex;
    flex-direction: column;
    /* Alinha os botões em coluna */
    gap: 10px;
    /* Espaçamento entre os botões */
    width: 100%;
    /* Botões ocupam toda a largura */
  }

  .qr-code img {
    max-width: 80%;
    /* QR Code menor em telas menores */
  }

  .form-button {
    width: 100%;
    /* Ocupa toda a largura */
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-button.next {
    background: var(--check, #670505);
    /* Cor do botão "Próximo" */
    color: #ffffff;
    /* Texto branco */
  }

  .form-button.next:hover {
    background: #A10000;
    /* Cor ao passar o mouse */
  }

  .form-button.previous {
    background: #525252;
    /* Cor do botão "Voltar" */
    color: #333333;
    /* Texto preto */
  }

  .form-button.previous:hover {
    background: #d6d6d6;
    /* Cor ao passar o mouse */
  }

}

.error-message {
  display: inline-block;
  color: #ffffff;
  /* Cor do texto */
  background-color: red;
  /* Cor de fundo para indicar erro */
  padding: 0.5rem 1rem;
  /* Espaçamento interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  font-size: 16px;
  /* Tamanho da fonte */
  text-align: center;
  /* Centraliza o texto */
  margin-top: 0.5rem;
  /* Margem acima */
  cursor: default;
  /* Cursor padrão (não clicável) */
  border: none;
  /* Remove bordas adicionais */
}
