.sidebar-logo {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar-logo img {
  width: 120px;
  height: auto; /* Ajusta proporcionalmente */
}

.sidebar-content {
}

.sidebar-content h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
}

.sidebar-content p {
  font-size: 18px;
  color: #dcdcdc;
}

.sidebar-footer {
  margin-top: 20px;
}

.sidebar-footer h2 {
  font-size: 32px;
  font-weight: 900;
}

.sidebar-footer p {
  font-size: 18px;
  margin-top: 5px;
  color: #dcdcdc;
}

/* Ajustes em telas menores */
@media (max-width: 768px) {
  .sidebar-content h1 {
    font-size: 28px; /* Reduz o tamanho do título */
    text-align: center;
  }

  .sidebar-content p,
  .sidebar-footer p {
    font-size: 16px; /* Reduz o texto */
    text-align: center;
  }

  .sidebar-footer h2 {
    font-size: 28px; /* Reduz o subtítulo */
    text-align: center;
  }
}
